@import "https://ease-css.netlify.app/ease/css/ease.css";
.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1500px;
}
.f-white {
  color: white;
}

hr {
  border: 0px;
  border-top: 1px solid rgb(233, 233, 233);
}
.is-active {
  background: rgb(230, 0, 146);
  color: white;
}

.btn,
button {
  background-color: transparent;
  border: 1px solid rgb(235, 235, 235);
  /* padding: 0.2rem 0.7rem; */
  border-radius: 5px;
  margin: 0rem 0.3rem;
  cursor: pointer;
  transition: 0.15s all;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* justify-content: center; */
}
.btn-array {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProseMirror {
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  color: rgb(65, 65, 65);
  font-size: 1.3rem;
  width: 95%;
  margin: 0.4rem auto;
  overflow: auto;
  height: 400px;
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: "Start writing...";
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}
.ProseMirror img {
  max-width: 15rem;
  height: auto;
}
.ProseMirror a {
  color: rgb(0, 51, 255);
  font-weight: bold;
  cursor: pointer;
}
.t-center {
  text-align: center;
}
.modal {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0.2rem;
  background: rgb(230, 0, 146);
  z-index: 10;
  border-radius: 5px;
}
.close {
  right: 0.5rem;
  top: 0.5rem;
}
.w-100 {
  width: 100%;
}
.unlink {
  background-color: rgb(230, 0, 146);
  color: white;
}

button:hover {
  background-color: rgb(230, 0, 146);
  color: white;
}

/* //////////////////////How to modal/////// */

.modal-container {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.727);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
}
.howto-modal {
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  background: white;
  max-width: 700px;
  min-height: max-content;
}
ul {
  padding-inline-start: 5px;
}
li {
  margin: 1rem;
  padding: 0.5rem;
  font-size: small;
}
li span {
  width: max-content;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem 0;
  height: 0.5rem;
}
li button {
  background-color: rgb(230, 230, 230);
}
.pink-btn {
  background-color: rgb(230, 0, 146);
  color: white;
  padding: 0.2rem 0.4rem;
}
.modal-close {
  z-index: 100;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}
.how-to-use {
  color: rgb(181, 181, 181);
  transition: 0.2s all;
  border-radius: 5px;
  padding: 0.5rem;
}
.how-to-use:hover {
  border: 1px solid rgb(196, 196, 196);
}
.p1rem {
  padding: 0.2rem 0.5rem;
}

/* /////////////////////////////// */
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
  .btn-array {
    flex-direction: column;
  }
  .h2 {
    font-size: 1.3rem;
  }
  .h3 {
    font-size: 1rem;
  }
  .howto-modal {
    margin: 5rem 2rem;
    max-width: 500px;
  }
  li {
    margin: 0.7rem;
    padding: 0.2rem;
  }
}
